<script>
  import Radio from "../helpers/_design_2_radio.svelte";
  import { onMount } from 'svelte';
  import { scaleRadial } from 'd3-scale';
  import { extent } from "d3-array";
  let url = ``;
  let all_data = []

  onMount(() => {
    url = (window.location.href).replace("/final_project","/json")
    
    fetch(`${url}/daily_heating_cooling.json`)
      .then(res => res.json())
      .then(data => all_data = data)
 
  });

  // Size and margins
  const width = 700;
  const height = 280;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let week_data={}
  $: {
    all_data.forEach((obj)=>{
      if ( ! (obj.city in week_data)){       
        week_data[obj.city] = {}
        week_data[obj.city]["heating"] = [obj.heating]
        week_data[obj.city]["cooling"] = [obj.cooling]   
      }else{
        week_data[obj.city]["heating"].push(obj.heating)
        week_data[obj.city]["cooling"].push(obj.cooling)
      }
    })
    
  }
  
 
  $: yScale_h = scaleRadial().domain(extent(all_data.map((d)=> d.heating))).range([0,90])
  $: yScale_c = scaleRadial().domain(extent(all_data.map((d)=> d.cooling))).range([0,90])
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    {#each Object.keys(week_data) as name , nameId}
    <g transform="translate({(nameId*200)+100},20)">
      <text class="text">{name}</text>
    </g>
    <g transform="translate({(nameId*220)+120},150)">
      <Radio  data={week_data[name]}  {yScale_h} {yScale_c}></Radio>
    </g>
    {/each}
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  .text{
    padding-bottom: 10px;
  }
</style>
