<script>
  // Size and margins
  import Leaft from "../helpers/_design_3_leaft.svelte";
  import { scaleLinear,scaleLog } from 'd3-scale';
  import { onMount } from 'svelte';
  import { extent } from "d3-array";

  let url = ``;
  let all_data = []
  onMount(() => {
    url = (window.location.href).replace("/final_project","/json")
    
    fetch(`${url}/hourly_electricity_vs_gas_december.json`)
      .then(res => res.json())
      .then(data => all_data = data)
 
  });

  const width = 500;
  const height = 600;
  const k = 100;
  const leaft_separator_y = 80;
  const leaft_separator_x1 = 4;
  const leaft_separator_x2 = 26;
  const leaft_heigh = 35;
  const leaft_width = 167;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  
  let week_data={}
  let tallo = [...Array(110).keys()]
 
  $: {
    all_data.forEach((obj)=>{
      if ( ! (obj.week in week_data)){       
        week_data[obj.week] = {}
        week_data[obj.week]["electrity"] = [obj.total_electrity]
        week_data[obj.week]["gas"] = [obj.total_gas]   
      }else{
        week_data[obj.week]["electrity"].push(obj.total_electrity)
        week_data[obj.week]["gas"].push(obj.total_gas)
      }
    })
    //check all data has 167 values
    Object.keys(week_data).forEach((obj)=>{
      let a_gas = week_data[obj]["gas"]
      let a_elec = week_data[obj]["electrity"]
      if (a_gas.length < leaft_width){
        let r_gas = new Array(leaft_width - a_gas.length).fill(0);
        a_gas.push(...r_gas)
      }
      if (a_elec.length < leaft_width){
        let r_elec = new Array(leaft_width - a_elec.length).fill(0);
        a_elec.push(...r_elec)
      }
    })
  }
  $: xScale = scaleLinear().domain([1,170]).range([1,leaft_width+50])
  $: yScale_Elec = scaleLog().domain(extent(all_data.map((d)=> d.total_electrity))).range([0,leaft_heigh])
  $: yScale_Gas = scaleLog().domain(extent(all_data.map((d)=> d.total_gas))).range([0,leaft_heigh])
</script>

<svg {width} {height}>

  {#each Object.keys(week_data).reverse() as week_ , weedId}
    {#if weedId %2 == 0}
      <g transform="translate({margin.left*leaft_separator_x2}, {(weedId *leaft_separator_y)+k})">
        <Leaft  data={week_data[week_]} {yScale_Elec} {yScale_Gas} {xScale} type={"r"} > </Leaft>
      </g>
    {/if}
    {#if weedId %2 != 0}
      <g transform="translate({margin.left*leaft_separator_x1}, {(weedId *leaft_separator_y)+k-70})">
        <Leaft data={week_data[week_]} {yScale_Elec} {yScale_Gas} {xScale} type={"l"} > </Leaft>
      </g>
    {/if}
    
  {/each}

  {#each tallo as value,idx}
    {#if idx>10}
      <circle cx={250} cy={value*5} r=3></circle>
    {/if}
    
  {/each} 
  
</svg>
    

<style>
  svg {
    padding-top: 50px;
    border: 1px solid black;
    border-radius: 5px;
  }
  circle{
    color: rgb(60, 41, 41) !important;
  }

</style>
