<script>
  // Size and margins
  
  import { onMount } from 'svelte';
  import { scaleLog, scaleLinear } from 'd3-scale';
  import { extent } from "d3-array";
  import { area} from 'd3-shape';
  let url = ``;
  let all_data = []
  let flag_indicador = false;

  onMount(() => {
    url = (window.location.href).replace("/final_project","/json")
    fetch(`${url}/hourly_heating_december.json`)
      .then(res => res.json())
      .then(data => all_data = data)
 
  });

  let city_per_building={}
  let building_array = {}
  let array_cities = {}
  let selected = 0;
  let selected_2 = 0;

  $: {
    all_data.forEach((obj)=>{
      if (!(obj.city in city_per_building)){  
        city_per_building[obj.city] = {}
        if(!(obj.buildingtype in city_per_building[obj.city] )){
          city_per_building[obj.city][obj.buildingtype] = [obj.total_heating_energy]
        }   
      }else{
        if(!(obj.buildingtype in city_per_building[obj.city] )){
          city_per_building[obj.city][obj.buildingtype] = [obj.total_heating_energy]
        }
        city_per_building[obj.city][obj.buildingtype].push(obj.total_heating_energy)
      }

      if (!(obj.city in array_cities)){  
         array_cities[obj.city]=[obj.total_heating_energy]
      }else{
        array_cities[obj.city].push(obj.total_heating_energy)
      }


    }) 
    building_array = {...city_per_building[Object.keys(city_per_building)[selected]]}
  }

 


  $: console.log(array_cities)
  $: xScale = scaleLinear().domain([1,800]).range([1,300])
  

  const width = 750;
  const height = 450;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  
   
  function onChange(event) {
		selected = event.currentTarget.value;
    building_array = {...city_per_building[Object.keys(city_per_building)[selected]]}
    
	}
  function onChange_2(event) {
		selected_2 = event.currentTarget.value;
    if(selected_2 == 1){
      flag_indicador = true
    }
    if(selected_2 == 0){
      flag_indicador = false
    }

  
	}

  var Gen = area().x((p) => p[0]).y0((p) => 20).y1((p) => p[1]);
  function areaGenerator(d){
    let tmp_array = []
    let yScale = scaleLinear().domain(extent(d)).range([0,20])
    if(flag_indicador){
      let Object_cities = Object.keys(array_cities)[selected]
      console.log()
      yScale = scaleLinear().domain(extent(array_cities[Object_cities])).range([0,20])
    }

    d.forEach((value, idx) => {
      if (value>0){
        tmp_array.push([xScale(idx),(value > 0 ? yScale(value) :0)])
      }
      
    });
    
    return Gen(tmp_array);
  };



</script>
<div class="city_div">
  <strong>Location</strong>
  {#each Object.keys(city_per_building) as name , nameId}
    <label>
      <input checked={selected===nameId} on:change={onChange} type="radio" name="city" value={nameId} /> {name}
    </label>
  {/each}
  <br>
  <strong>Scaling</strong>
    <label>
      <input checked={selected_2===0} on:change={onChange_2} type="radio" name="scale" value="0" /> Per Line
    </label>
    <label>
      <input checked={selected_2===1} on:change={onChange_2} type="radio" name="scale" value="1" /> Across all Lines
    </label>
</div>


<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    {#each Object.keys(building_array) as name , nameId}
    <g transform="translate(10,{(nameId*40)+20})">
      <text class="text">{name}</text>
    
    </g>
      <g transform="translate(180,{(nameId*40)+1})">

        <svg height="100%" width="100%" viewBox="0 0 200 500"  preserveAspectRatio="none">
          <path  d={areaGenerator(building_array[name])}/>
       </svg>
      </g>
    {/each}
  </g>
  
</svg>



<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  .city_div{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
  }
  path {
    stroke: none;
    fill-opacity: 0.7;   
  }
</style>
