<style>
    p    {color: steelblue;
            font-family: courier;
            font-size: 160%;
    
    }
    </style>
    

<p> I <span style="color: brown">really</span> like data visualisation!</p>
    
