<style>
    p    {color: steelblue;
            font-family: courier;
            font-size: 160%;
    }
    </style>
    
<script>
	import Ex2 from './ex_2.svelte';
    import Ex3 from './ex_3.svelte';
</script>


<div class="flex-container">
    <div><p>This is from exercise 2:</p>
        <Ex2/></div>

    <div><p>This is from exercise 3:</p>
        <Ex3/>
    </div>
</div>