<script>
  // Properties
  export let controls = null;
  export let data = [];
  const stYear = 1800;
  const max_year = stYear + data.length - 1;
    const continents = ["all", "europe", "asia", "americas", "africa"];
  let is_start = false;
  let run_text = 'Start';
  var run_range;

  function res() {
    controls.year = stYear;
    clearInterval(run_range);
  }

  function strt_Pau() {
    if(is_start) {
      is_start = false;
      run_text = 'Start';
      clearInterval(run_range);
    } else {
      is_start = true;
      run_text = 'Stop';
      run_range = setInterval(function(){
        if(controls.year < max_year)
          controls.year++;
        else
          controls.year = stYear;
      }, 50)
    }
  }


</script>

<div class="row">
  <div class="col-4">
    <button type="button" class="btn btn-primary" on:click={strt_Pau}>{run_text}</button>
    <button type="button" class="btn btn-primary" on:click={res}>Resest</button>
  </div>
  <div class="col-4">
    <label class="form-label col-sm-10">Year: {controls.year}
      <input type="range" class="form-range" min={stYear} max={max_year} step="1" bind:value={controls.year}>
    </label>
  </div>
  <div class="col-3">
    <select id="continent-select" class="form-select" bind:value={controls.continent}>
      {#each continents as c}
        <option value={c}>{c}</option>
      {/each}
    </select>
  </div>
</div>
