<script>
	let count = 0;

	function handleClick(event) {
		count += 1;
	}
    function ResetClick(event) {
		count = 0;
	}
</script>
<button on:click={handleClick}>
	count: {count}
</button>

<button on:click={ResetClick}>
	Reset
</button>
