<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  let ctrl = {year: 1800, continent: 'all'};
  let filterdCountries = [];
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });

  function filterData(_) {
    if(!data || !ctrl)
      return;
    filterdCountries = data[ctrl.year - 1800].countries.filter(function(country) {
      if(ctrl.continent == 'all')
        return true;
      return country.continent == ctrl.continent
    }).filter(d => d.income != null && d.life_exp != null)
  }

  $: filterData(ctrl);
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={filterdCountries} />
    <Controls {data} bind:controls={ctrl} />
  </div>
{/if}
