<script>
  import { csv } from "d3-fetch";
  import { onMount } from "svelte";
  import Scatter from "./_ex_4_scatter.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await csv("/data/cars-2.csv");
  });


  let array_comp1 = [];
  let array_comp2 = [];
  let sel_array = [];

  // Configurations
  const s1 = {
    x: (d) => +d.Horsepower,
    y: (d) => +d.Acceleration,
    xLabel: "Horsepower",
    yLabel: "Acceleration"
  };

  const s2 = {
    x: (d) => +d.Displacement,
    y: (d) => +d.Miles_per_Gallon,
    xLabel: "Displacement",
    yLabel: "Miles per Gallon"
  };


  $: {
    sel_array = array_comp1.map((item1,index) => array_comp2[index] && item1)
  }
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <Scatter {data} {...s1} bind:local_array={array_comp1} global_array = {sel_array}/>
  <Scatter {data} {...s2} bind:local_array={array_comp2} global_array = {sel_array} />
{/if}

