<script>
  const width = 100;
  const height = 100;
  const margin = { top: 30, right: 30, bottom: 30, left: 30 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
</script>

<svg {width} {height}>
  <g transform="translate({innerWidth/2}, {innerHeight/2})">
    <rect x=0 y=0 width=40 height=40 />
    <circle cx=0 cy=0 r=20 transform="translate({30}, {30})"/>
  </g>
</svg>
<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  rect{
    fill: yellow;
  }
  circle{
    fill:skyblue
  }
</style>
