<script>
  const width = 100;
  const height = 100;
  const margin = { top: 0, right: 0, bottom: 0, left: 0 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
</script>

<svg viewBox="0 0 100 100">
  <g transform="translate({margin.left}, {margin.top})">
    <circle cx={innerHeight/2} cy={innerHeight/2} r="20" fill="teal" />
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    height: 100px;
 
    
  }

</style>
